{
    "root": true,
    "extends": [
        "@biased-eslint/eslint-config/ProperTS"
    ],
    "parserOptions": {
        "project": "./tsconfig.json"
    },
    "ignorePatterns": [
        "**/dist/*",
        "**/scripts/*"
    ]
}