{
    "root": true,
    "extends": [
        "@biased-ts/eslint-config/ProperTS"
    ],
    "parserOptions": {
        "project": "./tsconfig.json"
    },
    "ignorePatterns": [
        "**/dist/*"
    ]
}